
<div class="container">
  <div class="flex-container">
    <div class="cards">
      <% @planes.each do |plane| %>
        <div class="card-product">
          <% if plane.photo.attached? %>
            <%= cl_image_tag plane.photo.key %>
          <% else %>
            <img src="https://aircharterservice-globalcontent-live.cphostaccess.com/images/home_tcm36-2071.jpg" />
          <% end %>
          <div class="card-product-infos">
              <ul class="list-unstyled">
                <li>
                  <div><%= link_to plane.name.to_s, plane_path(plane) %></div>
                </li>
              </ul>
          </div>
        </div>
      <% end %>
    </div>
    <div 
      id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

  