<div class="container text-center pt-5 w-500">
  <div class="form-style">
    <br>
    <%= simple_form_for @booking do |f| %>
    <%= f.input :status, collection: ["accepted", "refused", "pending"] %>
    <%= f.submit "Update" %>
     <% end %>
  </div>
</div>
